@using System.Data
@{
    ViewData["Title"] = "Ver Usuarios";
}

<h2>@ViewData["Title"]</h2>

<p>@ViewBag.Mensaje</p>

@if (ViewBag.DataTable != null)
{
    <table class="styled-table">
        <thead>
            <tr>                				
                <th>ID</th>
                <th>Rol</th>
                <th>Nombre usuario</th>
                <th>Nombre Completo</th>
                <th>Email</th>
                <th>Contrasena</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Telefono emergencia</th>
                <th>Fecha_registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in ViewBag.DataTable.Rows)
            {
                <tr>
                    @foreach (var item in row.ItemArray)
                    {
                        <td>@item</td>
                    }
                    <td>
                        <a href="" class="btn btn-success"><i class="fa-solid fa-eye"></i></a>
                        <a href="" class="btn btn-primary"><i class="fa-solid fa-user-pen"></i></a>
                        <a href="" class="btn btn-danger"
                           onclick="return confirm('¿Está seguro de que desea eliminar esta orden?');"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>           
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron datos.</p>
}
