html {
    font-size: 14px; /* Tamaño base */
}

/* Tamaño para tablets */
@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

/* Ajuste para portátiles (1366px a 1920px) */
@media (min-width: 1024px) and (max-width: 1920px) {
    html {
        font-size: 14px; /* Mantenerlo más pequeño para evitar que se vea grande */
    }
}

/* Ajuste para pantallas extra grandes */
@media (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}

/* Para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    html {
        font-size: 13px;
    }
}

/* Ajuste adicional para pantallas extra grandes */
@media (min-width: 1440px) {
    html {
        font-size: 17px;
    }
}

/* Para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    html {
        font-size: 13px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    margin-bottom: 60px;
    font-size: 1rem;
}

.container {
    max-width: 90%;
    margin: auto;

}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
    font-size: 14px; /* Reduce el tamaño del texto */
    height: 36px; /* Ajusta la altura del input */
    padding: 5px 10px; /* Reduce el padding interno */
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
    font-size: 14px; /* Reduce el tamaño del texto */
    height: 36px; /* Ajusta la altura del input */
    padding: 5px 10px; /* Reduce el padding interno */
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    border: 1px solid #ddd;
}

    .styled-table thead {
        background-color: #007bff;
        color: white;
    }

    .styled-table th, .styled-table td {
        padding: 12px;
        border: 1px solid #ddd;
    }

    .styled-table tbody tr:nth-child(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:hover {
        background-color: #ddd;
        transition: 0.3s;
    }
.h1-titulos {
    align-self: center;
    align-items: center;
    justify-items: center;
    font-size: 1.8rem;

}

.navbar {
    background-color: #283618 !important; /* Fondo negro */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    padding: 1rem;
}

    .navbar ul {
        list-style: none;
        display: flex;
        justify-content: center; /* Asegura que los elementos estén centrados */
        align-items: center;
        margin: 0;
        padding: 0;
    }

        .navbar ul li {
            margin: 0 1.5rem; /* Espaciado entre los elementos del navbar */
        }

    .navbar a,
    .navbar .nav-link {
        color: white !important; /* Letras blancas */
        font-size: 1.4em; /* Aumenta el tamaño de la fuente */
        text-decoration: none;
        font-weight: bold;
    }

        .navbar a:hover,
        .navbar .nav-link:hover {
            color: #f8c200 !important; 
        }
.footer {
    background-color: #283618 !important;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    margin-top: 20px; 
    font-size: 0.9em; 
}
.btn-footer
{
    font-size: 0.8rem; /* Ajusta el tamaño de la letra */
    padding: 9px 16px; /* Ajusta el tamaño del botón */
    background-color: #007bff; /* Color azul Bootstrap */
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

    .btn-footer:hover {
        background-color: #0056b3; /* Oscurece el color al pasar el mouse */
    }


.carousel-inner img {
    height: 500px;
    object-fit: cover;
}


/* Estilos para el cuerpo del login */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #f8f9fa;
}

/* Estilos para el contenedor del login */
.login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 280px; /* Hacerlo más compacto */
    text-align: center;
}

    /* Estilos para el título del login */
    .login-container h2 {
        margin-bottom: 1.5rem;
        color: #333;
    }

    /* Estilos para las etiquetas del formulario */
    .login-container label {
        display: block;
        margin-bottom: 0.5rem;
        color: #555;
    }

    /* Estilos para los campos de entrada del formulario */
    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    /* Estilos para el botón de envío */
    .login-container button {
        justify-content: center;
        width: 100%;
        padding: 0.75rem;
        background-color: #ffd900;
        color: #000000;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .login-container button:hover {
            background-color: #b37a00;
        }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-fac {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #4f20cf;
}

.h2-fac {
    font-size: 30px; /* Un poco más grande para mayor visibilidad */
    font-weight: 600;
    color: #2a44da;
    text-align: center; /* Centrado para que quede centrado sobre el formulario */
    margin-bottom: 20px; /* Espacio entre el título y el formulario */
}

.border {
    color: #07060a;
}

.col-md-5 {
    margin: 20px;
}
.styled-table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.styled-table thead {
    background-color: #FFA726; /* Naranja claro */
    color: white;
}

.styled-table th, .styled-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9e5c7; /* Un tono muy suave de naranja */
}

.styled-table tbody tr:hover {
    background-color: #f4c08d; /* Un tono intermedio de naranja */
    transition: 0.3s;
}
